article{
  width:901px;
  margin:0px auto;
}
.top hgroup{
  display:inline-block;
  width:300px;
  float:left;
}
.top hgroup h1{
  margin-bottom:0px;
}
.top hgroup h4{
  margin-top:0px;
  color:gray;
}
.top a{
  margin-top:40px;
  display:inline-block;
  width:100px;
  float:right;
  color:gray;
  text-decoration: none;
}
article img{
  clear:left;
}
article p{
  text-indent:2em;
}
fieldset{
  border:none;
  display:inline-block;
  float:left;
  height:305;
  width: 49%;
  box-sizing: border-box;
  padding-top:30px;
}
fieldset:first-of-type{
  padding-left:60px;
}
label{
  display:block;
  padding:6px 0px;
}
label:first-of-type{
  padding-top:10px;
}
input{
  display:inline-block;
}
form{
  background-image: url("img/list-bg.png");
  height:305;
}
.bio img{
  float:left;
}
.bio p{
  display:inline-block;
  float:left;
}
.bio button{
  float:right;
}
h1: {
  font-family: 'Anton', sans-serif;
}

header {
  width: 901px;
  margin: 0 auto;
}

header p {

}

.companylogo {
  font-family: 'Yellowtail', cursive;
  font-size: 2.5em;
  display: block;
  line-height: 33px;
  margin-bottom: 6px;
}
.buyline {
  font-family: 'Abel', sans-serif;
  font-size: 0.75em;
  margin-top: -7px;
  display: block;

}

.input {
  font-family: 'Patrick Hand', cursive;
}
 
.pinterest {
  margin-right: 7px;
}

body {
  font-family: 'Crimson Text', serif;
}

.stripeBar {
  background: repeating-linear-gradient(
   45deg,
   #ccc,
   #ccc 30px,
   #dbdbdb 30px,
   #dbdbdb 60px);
   height: 10px;
   width: 901px;
   background-repeat: repeat-y;
   margin-top: 10px;

}

h4 {
font-family: 'Abel', sans-serif;
}


.logoDetails {
  float: left;
  padding: 0 5px 0px 0;
  display: inline-block;
  margin-top: 0px;
}
.iconDetails {
  float: right;
  margin-top: -32px;
}